@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Where Every Level Unlocks Adventure!</p>
    <img src="~/images/logo.jpg" alt="shop logo" width="400" height="400" />
</div>
